<script>
window.addEventListener("DOMContentLoaded", function () {
  const script = document.createElement("script");
  script.src = "https://cai.c1m.ai/embed.js";
  script.onload = function () {
    if (window.Chatbot) {
      window.Chatbot.init({
        apiUrl: "https://cai.c1m.ai/Chat-C1M-C54",
         position: "center",
          welcomeMessage: 'COLLECTIVE 54',
              sidePadding: "30px",
              bottom: "0px",
              width: "700px",
              height: "600px",
              fontSize: "28px",
              fontColor: "#111827",
              bubbleColor: "#F7F7F8", // user message bg color
              userMessageFontColor: "#111827", // user message font color
              chatbotResponseFontColor: "#111827", // chatbot response font color
              inputBgColor: "#ffffff", // input field background color
              inputTextColor: "#111827", // input field text color
              inputBorderColor: "#D1D5DB", // input field border color
              inputPlaceHolderColor: "#9CA3AF", // input placeholder color
              submitTextColor: "#111827", // submit button text color
              submitBgColor: "#ffffff", // submit button background color
              loaderColor: "#ffffff", // loader color
              fontColorPoweredBy: "#111827", // font color PoweredBy
      });
    }
  };
  document.head.appendChild(script);
});
</script>