<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <script>
      window.addEventListener("DOMContentLoaded", function () {
        const script = document.createElement("script");
        script.src = "https://cai.c1m.ai/embed.js";
        script.onload = function () {
          if (window.Chatbot) {
            window.Chatbot.init({
              apiUrl: "https://cai.c1m.ai/popup/Chat-C1M-C54",
              welcomeMessage: "Hey there! How can I help you today?",
              position: "right",
              sidePadding: "20px",
              bottom: "0px",
              width: "700px",
              height: "600px",
              fontSize: "24px",
              fontColor: "#ffffff", // body font color
              bgColor: "#303134", // header background Gradient here
              bgColor1: "#343541", // body background
              bubbleColor: "#40414F", // user message bg color
              userMessageFontColor: "#ECECF1", // user message font color
              botColor: "#40414F", // chatbot response bg color
              chatbotResponseFontColor: "#ECECF1", // chatbot response font color
              inputBgColor: "#40414F", // input field background color
              inputTextColor: "#ECECF1", // input field text color
              inputBorderColor: "#565869", // input field border color
              inputPlaceHolderColor: "#9CA3AF", // input placeholder color
              submitTextColor: "#ffffff", // submit button text color
              bgColorFooter: "#303134", // bg footer color
              bgColorPoweredByIcon: "#202123", //  bgColorPoweredByIcon
              fontColorDate: "#ffffff", // date color
              bgColorMessage: "#40414F", // bg color of greeting message
              fontColorMessage: "#ffffff", // font color of greeting message
              fontColorPoweredBy: "#ffffff", // font color PoweredBy
              fontColorHeader: "#ffffff", // header font color
              loaderColor: "#ffffff", // loader color
            });
          }
        };
        document.head.appendChild(script);
      });
    </script>

    <!-- <script>
      window.addEventListener("DOMContentLoaded", function () {
        const script = document.createElement("script");
        script.src = "https://cai.c1m.ai/embed.js";
        script.onload = function () {
          if (window.Chatbot) {
            window.Chatbot.init({
              apiUrl: "https://cai.c1m.ai/Chat-C1M-C54",
              welcomeMessage: "Hey there! How can I help you today?",
              position: "right",
              sidePadding: "30px",
              bottom: "0px",
              width: "700px",
              height: "600px",
              fontSize: "24px",
              fontColor: "#ffffff",
              bgColor: "#343541", // Gradient here
              bubbleColor: "#40414F", // user message bg color
              userMessageFontColor: "#ECECF1", // user message font color
              botColor: "#40414F", // chatbot response bg color
              chatbotResponseFontColor: "#ECECF1", // chatbot response font color
              inputBgColor: "#40414F", // input field background color
              inputTextColor: "#ECECF1", // input field text color
              inputBorderColor: "#565869", // input field border color
              inputPlaceHolderColor: "#9CA3AF", // input placeholder color
              submitTextColor: "#202123", // submit button text color
              submitBgColor: "#ffffff", // submit button background color
              messageBorderColor: "#6B7280", // message border color
              loaderColor: "#ffffff", // loader color
              bgColorPoweredByIcon: "#202123", //  bgColorPoweredByIcon
              fontColorDate: "#ffffff", // date color
              bgColorMessage: "#40414F", // bg color of greeting message
              fontColorMessage: "#ffffff", // font color of greeting message
              fontColorPoweredBy: "#ffffff", // font color PoweredBy
            });
          }
        };
        document.head.appendChild(script);
      });
    </script> -->
  </head>
  <body style="background-color: blue; margin: 0; padding: 0">
    <p>Hello World!</p>
  </body>
</html>
