<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <script>
      window.addEventListener("DOMContentLoaded", function () {
        const script = document.createElement("script");
        script.src = "https://cai.c1m.ai/embed.js";
        script.onload = function () {
          if (window.Chatbot) {
            window.Chatbot.init({
              apiUrl: "https://cai.c1m.ai/popup/Chat-C1M-C54",
              welcomeMessage: "Hey there! How can I help you today?",
              position: "right",
              sidePadding: "30px",
              bottom: "0px",
              width: "700px",
              height: "600px",
              fontSize: "24px",
              fontColor: "green", // body font color
              bgColor: "black", // header background Gradient here 
              bgColor1: "red", // body background
              bubbleColor: "gray", // user message bg color
              userMessageFontColor: "red", // user message font color
              botColor: "green", // chatbot response bg color
              chatbotResponseFontColor: "black", // chatbot response font color
              inputBgColor: "blue", // input field background color
              inputTextColor: "green", // input field text color
              inputBorderColor: "black", // input field border color
              inputPlaceHolderColor: "orange", // input placeholder color
              submitTextColor: "red", // submit button text color
              submitBgColor: "#4338ca", // submit button background color
              messageBorderColor: "#C084FC", // message border color
              bgColorFooter: "yellow", // bg footer color
              bgColorPoweredByIcon: "blue", //  bgColorPoweredByIcon
              fontColorDate: "blue", // date color
              fontColorHeader: "white", // header font color
              fontColorPoweredBy: "blue", // font color PoweredBy
              bgColorMessage: "black", // bg color of greeting message
              fontColorMessage: "green", // font color of greeting message
              loaderColor: "black", // loader color
            });
          }
        };
        document.head.appendChild(script);
      });
    </script>
  </head>
  <body style="background-color: blue; margin: 0; padding: 0">
    <p>Hello World!</p>
  </body>
</html>
